body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  justify-content: center;
}

.task1-container, .coin-game-container {
  display: flex;
  width: 80%;
  margin-inline: auto;
  background-color: rgb(170, 164, 164);
}

.button-container {
  padding: 28px;
  padding-left: 60px;
  align-items: center;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
padding: 7px 25px;
width: max-content;
border: none;
color: white;
background-color: rgb(73, 73, 73);
cursor: pointer;
height: max-content;
}